<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <!-- <link rel="stylesheet" href="/stylesheet/confirmation.css"> -->
        <title>mobile banam</title>
    </head>
    <body>
        
  