<%-include('partials/header')-%>
    <div class="container">
        <h1>login
        </h1>
        <form action="/login" method='POST'>
        <input type="text" placeholder="username" name="name">
        <input type="password" placeholder="Password" name="password">
        <button>Submit</button>
        </form>
    </div>
<%-include('partials/footer')-%>